* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Poppins';
}

#main {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: end;
    gap: 40px;
    padding-left: 10%;
    padding-right: 15%;
}

#left {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#left h1 {
    font-size: 120px;
    font-weight: 500;
    line-height: 135px;
}

#left-bottom {
    height: 35%;

}

#color {
    width: fit-content;
    padding: 10px 15px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border: 1px solid black;
    margin-bottom: 10%;
}

#color1 {
    height: 20px;
    width: 20px;
    background-color: #fd3b00;
    border-radius: 59%;
}

#color2 {
    height: 20px;
    width: 20px;
    border-radius: 59%;
    background-color: #19f763;
}

#left-bottom p {
    width: 55%;
}
#right {
    height: 70%;
    width: 75%;
    position: relative;

}
#right-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:5%;
    padding-right: 25%;
}
#right-top h5 i{
    color: gold;
}
#right-bottom{
    width: 100%;
    height: 95%;
display: flex;
}
#right img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding-right: 20%;
}
#dark-circle{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: #000;
    position: absolute;
    color: white;
    top: 30%;
    right: 18%;
}
#dark-circle{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transform: translate(50%, -50%);
}